{% load url from future %}
{% load i18n staticfiles %}
{% load zinnia i18n %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %} - Zinnia's Weblog</title>
    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Just another Zinnia weblog." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}" />
    <meta name="author" content="Fantomas42" />
    {% block meta %}{% endblock meta %}
   <!--  <link rel="pingback" href="/xmlrpc/" /> -->
    
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/myscreen.css" %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static "zinnia/theme/css/print.css" %}" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/ie.css" %}" />
    <![endif]-->
	
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
  </head>
  <body class="zinnia body {% block color-class %}blue{% endblock color-class %} ">
     
	<div class="container body2">
      <header class = "centerheader" id="header" role="banner">
	  
        <h1>
          <p class="pclass" style= "text-shadow: 2px 2px white;">
            Go Beyond The Fence
			 
          </p>
		 <h2><p style="color:#003300;position: absolute;top: 310px;text-shadow: 2px 2px white;" >The scenery is better when you are part of it!</p></h2>
       </h1>
	   
		 <iframe src="http://free.timeanddate.com/clock/i51ygruk/n23/tt0" frameborder="0" width="316" height="18"></iframe>
        <nav>
          <ul class="top-navigation">
		  <li>
			<a href="{% url "zinnia:entry_archive_index" %}" title="{% trans "Return to blog" %}" class="navbar" rel="Return to blog">
                {% trans "Return to blog" %}
              </a>
			</li>
			<li>
			
              <a href="{% url 'about'  %}" title="{% trans "About Go Beyond The Fence" %}" class="navbar" rel="About Go Beyond The Fence">
                {% trans "About Go Beyond The Fence" %}
              </a>
			  
			</li>
            <li>
			
              <a href="{% url 'zinnia:sitemap' %}"  title="{% trans "Monthly Archives" %}" class="navbar" rel="Monthly Archives">
                {% trans "Monthly Archives" %}
              </a>
			  
            </li>
			<li>
			
              <a href="{% url 'zinnia:category_list' %}" title= "{% trans "Categories" %}" class="navbar"> 
			  {% trans "categories" %}
              </a>
			  
			</li>
			<li>
			
              <a href="{% url 'zinnia:author_list' %}"title= "{% trans "Authors" %}" class="navbar"> 
			  {% trans "authors" %}
              </a>
			 
			</li>
			
			<li>
			<form  method="get" action="{% url 'zinnia:entry_search' %}">
          <p>
            <input type="text" name="pattern" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
            <input type="submit" class="submitbutton" value="OK" />
          </p>
        </form>
		</li>
          </ul>
        </nav>
		                                                 <iframe width="360" height="480" src="//www.cincopa.com/media-platform/iframe.aspx?fid=A8AAFV8a-H5b!A40CKfKucMjf" frameborder="0" allowfullscreen scrolling="no"></iframe><noscript><span>New Gallery 2015/2/19</span><span>test test</span></noscript>                       
       
      <p style = "font-family: verdana; font-size: 120%;"> As you can see in the featured image that is the fence I chose to go beyond with the help of my friends in September of 2014.  During that climb my friend Nate Mckenzie asked me why I wanted to do such a thing as to be lowered a couple hundred feet down a rock wall and climb back out.  I told him it was for the challenge but also the scenery is always better when you are a part of it.  I truly believe that getting beyond the fence and not looking at a mountain or any other scenery as if it were a painting but experiencing what it’s like to see the rock up close, feel the textures of nature, and just let it surround you is the ultimate way to allow the natural wonders of this world to affect you in a positive meaningful way.

My goal with this blog is to hopefully inspire people of all abilities, not just people who happen to have more challenges than most due to disability, to get out and try things.  It doesn’t necessarily need to be a dream of climbing big walls in Yosemite National Park but anything they truly want to experience in life.  When you try, things will happen and it may not be what you intended to happen, but eventually when you keep trying you get to the goal you set for yourself. I want people who read this to try for their goals just like I am.  You never know what you might experience until you try.

This is a post I wrote about my life of adventure and the people it took to get me where I am today.

<a href = "http://enocktest.herokuapp.com/blog/2015/09/01/the-beginning-of-the-road-to-adventure/">The Beginning of the Road to Adventure</a>
        

         
    </div>
  </body>
</html>
