

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>About Go Beyond the Fence</title>
    
    
    
   <!--  <link rel="pingback" href="/xmlrpc/" /> -->
    <link rel="shortcut icon" href="{% static "zinnia/theme/img/favicon.ico" %}" />
    <link rel="home" href="{% url "zinnia:entry_archive_index" %}" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/myscreen.css" %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static "zinnia/theme/css/print.css" %}" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/ie.css" %}" />
    <![endif]-->
    
  </head>
<body>
     
	<div class="container body2">
      <header class = "centerheader" id="header" role="banner">
	  
        <h1>
          <p class = "center">
            About Go Beyond The Fence
			
          </p>
        </h1>
		
    </div>
  </body>
</html>